#.gitignore

# Ignore specific scripts
.sh/Login_Tenant.sh

# Ignore all .msi files
# *.msi (unnecessary because of binaries: 'git lfs track *.msi')


https://www.linkedin.com/jobs/collections/top-choice&f_E=2&f_WT=2&refresh=true&origin=JOB_SEARCH_PAGE_SEARCH_BUTTON
